{% extends 'profile.html' %}
{% block content %}
<div class="container mt-5">
    <h3 class="text-center mb-4">My Order History</h3>
    {% if orders %}
        <div class="table-responsive">
            <table class="table table-striped table-hover text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Order ID</th>
                        <th>User</th>
                        <th>Order Date</th>
                        <th>Status</th>
                        <th>Details</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.user.username }}</td>
                            <td>{{ order.created_at|date:"Y-m-d H:i" }}</td>
                            <td>
                                <span class="badge
                                    {% if order.status == 'Pending' %} bg-warning
                                    {% elif order.status == 'Completed' %} bg-success
                                    {% elif order.status == 'Canceled' %} bg-danger
                                    {% else %} bg-secondary {% endif %}">
                                    {{ order.status }}
                                </span>
                            </td>
                            <td>
                                <a href="{% url 'view_order_details' order.id %}" class="btn btn-outline-primary btn-sm">
                                    View
                                </a>
                            </td>
                        <td>
                            {% if order.status == 'Pending' %}
                                <a href="{% url 'cancel_order' order.id %}" class="btn btn-outline-danger btn-sm">
                                    cancel
                                </a>
                            {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-center text-muted fs-5 mt-4">No order history available.</p>
    {% endif %}
</div>
{% endblock %}
